<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Tus tareas</h1>
    <div class="container">

      <% todos.forEach((todo) => { %>

        <div class="card">
            <h3><%= todo.title %></h3>
            <p><%= todo.description %></p>
            <button class=delete onclick="deleteTodo('<%= todo.id %>')">Eliminar</button>
        </div>

        <% }) %>

        <h2>Agrega una nueva tarea</h2>

        <form action="/todo" method="post">
            <input id="title" type="text" name="title" placeholder="Nombre de la tarea">
            <input id="description" type="text" name="description" placeholder="Descripcion de la tarea">
            <button type="submit" class="add-todo">
                Agregar
            </button>
        </form>
    </div>


    <script src="/app.js"></script>
  </body>
</html>